{% extends 'layouts/default.html' %}
{% set title = "The Front" %}
{% block content %}
<div class="row down">
    <div class="col-4 col-centered">
        <!-- col cecntered located in extras.scss -->
        <h2 class="font-weight-bold medium">
            Hi I'm Emil,
            <br> I do a lot of multimedia stuff
            <br>
        </h2>
        <h3 class="underLine points mt-3">
            <span>Web</span>
            <span>Video</span>
            <span>Photography</span>
            <br>
            <span>Graphic Design</span>
            <span>SEO</span>
        </h3>
    </div>
    <div class="col-3"></div>
    <!-- offsetts the text nicely -->
</div>
<div class="container mt-5">
    <div class="row mx-5 mt-5">
        <div class="col-6 col-md-2 col-centered skew d-flex p-0">
            <div class="skew-back">
                <img src="images/row6.jpg" alt="">
            </div>
        </div>
        <div class="col-6 col-md-2 col-centered skew d-flex p-0">
            <div class="skew-back">
                <img src="images/row7.jpg" alt="">
            </div>
        </div>
        <div class="col-6 col-md-2 col-centered skew d-flex p-0">
            <div class="skew-back">
                <img src="images/row8.jpg" alt="">
            </div>
        </div>
        <div class="col-6 col-md-2 col-centered skew d-flex p-0">
            <div class="skew-back">
                <img src="images/row9.jpg" alt="">
            </div>
        </div>
        <div class="col-6 col-md-2 col-centered skew d-flex p-0">
            <div class="skew-back">
                <img src="images/row10.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="row mt-3 mx-5">
        <div class="col-6 col-md-2 col-centered skew d-flex p-0">
            <div class="skew-back">
                <img src="images/row1.jpg" alt="">
            </div>
        </div>
        <div class="col-6 col-md-2 col-centered skew d-flex p-0">
            <div class="skew-back">
                <img src="images/row2.jpg" alt="">
            </div>
        </div>
        <div class="col-6 col-md-2 col-centered skew d-flex p-0">
            <div class="skew-back">
                <img src="images/row3.jpg" alt="">
            </div>
        </div>
        <div class="col-6 col-md-2 col-centered skew d-flex p-0">
            <div class="skew-back">
                <img src="images/row4.jpg" alt="">
            </div>
        </div>
        <div class="col-6 col-md-2 col-centered skew d-flex p-0">
            <div class="skew-back">
                <img src="images/row5.jpg" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}