{% extends 'layouts/default.html' %}
{% set title = "Past" %}
{% block content %}
        <div class="row down">
            <div class="col-4 col-centered">
                <!-- col cecntered located in extras.scss -->
                <h2 class="font-weight-bold medium">
                    Soooo..
                </h2>
                <p>I'm the type of guy who loves to learn new stuff so far this is what i've done in my life</p>
            </div>
            <div class="col-3"></div>
            <!-- offsetts the text nicely -->
        </div>
        <div class="row mt-5">
            <div class="col-10 col-md-4 col-centered  down my-auto" data-aos="fade-right">
                <h3>Agriculture</h3>
                <p>2 years with logging and outdors stuff at KVS Lyngdal</p>
            </div>
            <div class="col-10 col-md-4 col-centered  down" data-aos="fade-left">
                <img class="my-auto" src="images/row10.jpg" alt="">
            </div>
            <!-- offsetts the text nicely -->
        </div>
    </div>
{% endblock %}